* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #1e1e1e;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 1168px;    
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.list {
    border: solid 1px #6b6a6a;
    display: flex;
    /* flex-wrap: wrap; */

}

.list li {
    width: 300px;
    padding: 12px;
    border: solid 1px #fe6f6f;
}

.parent {
  background: lightblue;
}

.child {
  margin-top: 50px;
  background: lightcoral;
}