body {
    font-family: "Montserrat", sans-serif;
    color: #111111;
    background-color: #FAFAFA;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* h1 */
.main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

/* h2 */
.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.color-accent {
    color: #FD9222;
}

.container {
    max-width: 375px;    
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.button-accent {
    background-color: #FD9222;
    border: solid 1px #FD9222;
    border-radius: 100px;
    padding: 14px 40px;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-accent:hover,
.button-accent:focus {
    color: #FD9222;
    background-color: #fff;
    border-color: #fff;
}

.button-transperent {
    background-color: transparent;
    border: solid 1px #FD9222;
    border-radius: 100px;
    padding: 14px 40px;
    color: #111111;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.button-transperent:hover,
.button-transperent:focus {
    color: #FD9222;
    border-color: #111111;
}


@media screen and (min-width: 768px) {

    .main-title {
        font-size: 28px;
        max-width: 480px;
    }

    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1168px) {
    .container {
        max-width: 1188px;
    }
}







