body {
    font-family: "Montserrat", sans-serif;
    color: #111111;
    background-color: #FAFAFA;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: initial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* h1 */
.main-title {
    
}

/* h2 */
.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.color-accent {
    color: #FD9222;
}

.container {
    width: 1168px;    
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}





