.section-feedback {
    padding: 50px 0;
    margin-bottom: 70px;
}

.feedback-list {
    display: flex;
    column-gap: 28px;
    margin-bottom: 114px;
}

.feedback-list-item {
    display: none;
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.1);
    padding: 56px 24px 42px;
    border-radius: 16px;
}

.feedback-list-item-avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
}

.feedback-list-item:first-child {
    display: block;
}

.feedback-list-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;  
    text-align: center;
    margin-bottom: 24px;
}

.feedback-list-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
}

.feedback-list-item-button {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {

    .feedback-list-item {
        width: calc((100% - 28px) / 2);
    }

    .feedback-list-item:nth-child(2) {
        display: block;
    }
}

@media screen and (min-width: 1168px) {
    .feedback-list-item {
        width: calc((100% - (28px * 2)) / 3);
    }

    .feedback-list-item:nth-child(3) {
        display: block;
    }
}