.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.header-logo span {
    font-style: italic;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #FD9222;
}