.section-taste {
    padding-top: 120px;
    padding-bottom: 60px;
}

.section-taste .section-title {
    max-width: 412px;
    margin-left: auto;
    margin-right: auto;
}

.taste-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.taste-list-item {
    border: solid 1px #FD9222;
    border-radius: 15px;
    padding: 28px 24px;
    color: #FFFFFF;
}

.taste-list-img {
    margin: 0 auto;
    width: 236px;
    height: 178px;
    object-fit: cover;
}

.taste-list-item:nth-child(even) {
    background-color: #FFFFFF;
    color: #1E1823;
}

.taste-list-item:nth-child(4n + 1) {
    background-color: #FD9222;
}

.taste-list-item:nth-child(4n + 3) {
    background-color: #1E1823;
}

.taste-list-item img {
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {

    .taste-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .taste-list-item {
        width: calc((100% - 32px) / 2);
    }
}

@media screen and (min-width: 1168px) {

    .taste-list-item {
        width: calc((100% - (32px * 3)) / 4);
    }
}